# ----------------------
# Flask
# ----------------------
alembic
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
psycopg2
boto3

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
