{% extends "base.html" %}


{% block js %}
{% endblock %}

{% block main %}
  <div class="textView">
    <div class="main">
      <div class="textContainer">Detailed information on the use of cookies on this Site, and how you can decline them, is provided in our cookie policy.</div>

      <div class="classLabelContainer">
        {% for label in classy_labels %}
          <button type="button" class="classButton">{{label.name}}</button>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
